<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<h1 mat-dialog-title>CREATE CONTACT</h1>
<div mat-dialog-content>
    <p class="marker">*Required Fields</p>
    <div class="dialog-form-container name">
        <label for="createContact" class="form-label job-ref">Name<span class="marker">*&nbsp;</span></label>
        <input type="text" class="form-control" id="firstname" placeholder="First Name" required>
        <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
    </div>
    <div class="dialog-form-container">
        <label for="createContact" class="form-label job-ref">Email&nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="Email" placeholder="Email Address" required>
    </div>
    <div class="dialog-form-container">
        <label for="createContact" class="form-label job-ref">Mobile<span class="marker">*</span></label>
        <input type="text" class="form-control" id="Mobile" placeholder="Mobile Number" required>
    </div>
    <div class="dialog-form-container">
        <p>Do you wish to receive SMS notifications?</p>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
    </div>
    <div class='col-sm-6'>
        <button mat-button class="crete_button" (click)="createContact()" [mat-dialog-close]="data.animal"
            cdkFocusInitial>Create
        </button>
    </div>
</div>