<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<!-- <ng-container [ngTemplateOutlet]="createContact_Template ? createContact_Template : 
    (deliveryAddress_Template ? deliveryAddress_Template : 
    (contactList_Template ? contactList_Template : addBranch_Template))"
    [ngTemplateOutletContext]="{ $implicit: true }"></ng-container> -->

<ng-container [ngTemplateOutlet]="false ? createContact_Template : 
addBranch_Template" [ngTemplateOutletContext]="{ $implicit: true }"></ng-container>

<ng-template #createContact_Template>
    <h1 mat-dialog-title>CREATE CONTACT</h1>
    <div mat-dialog-content>
        <p class="marker">*Required Fields</p>
        <!-- <mat-form-field>
          <mat-label>Favorite Animal</mat-label>
          <input matInput [(ngModel)]="data.animal">
        </mat-form-field> -->
        <div class="dialog-form-container name">
            <label for="createContact" class="form-label job-ref">Name<span class="marker">*&nbsp;</span></label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name" required>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
        </div>
        <div class="dialog-form-container">
            <label for="createContact" class="form-label job-ref">Email&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" id="Email" placeholder="Email Address" required>
        </div>
        <div class="dialog-form-container">
            <label for="createContact" class="form-label job-ref">Mobile<span class="marker">*</span></label>
            <input type="text" class="form-control" id="Mobile" placeholder="Mobile Number" required>
        </div>
        <div class="dialog-form-container">
            <p>Do you wish to receive SMS notifications?</p>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
        <button mat-button class="crete_button" [mat-dialog-close]="data.animal" cdkFocusInitial>Create</button>
    </div>
</ng-template>

<ng-template #contactList_Template>
    <a
        href="https://xd.adobe.com/view/531b4b11-a9d0-4ef0-824d-76d427acae54-0648/screen/37432d9d-5a8a-41b5-9214-1938d4b3b157/specs/">design
        this dialog here</a>
</ng-template>

<ng-template #deliveryAddress_Template>
    <h1 mat-dialog-title>DELEVERY ADDRESS DETAILS</h1>
    <div mat-dialog-content>
        <p class="marker">*Required Fields</p>
        <div class="dialog-form-container">
            <label for="createContact" class="form-label job-ref">Address<span class="marker">*</span></label>
            <textarea class="form-control" id="address" required></textarea>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
        <button mat-button class="crete_button" [mat-dialog-close]="data.animal" cdkFocusInitial>Create</button>
    </div>
</ng-template>

<ng-template #addBranch_Template>
    <h1 mat-dialog-title>Add Branch</h1>
    <p>Delivery only available from your Home branch. Alternate branches are Click & Collect only.</p>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">
            <mat-icon matPrefix>location_on</mat-icon>
        </span>
        <input type="text" class="form-control" placeholder="Search store by address, city or postcode"
            aria-describedby="basic-addon1">
        <span class="input-group-text">
            <mat-icon matPrefix>search</mat-icon>
        </span>
    </div>
    <h4 class="sub_header">Nearest Branch</h4>
    <div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Silverwater
                    </mat-panel-title>
                    <mat-panel-description>
                        Silverwater 34 Buffalo Road, Hamilton QLD 4007
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class='date-time-title'>The date and time below is the earliest available.</div>
                <div class="form-container">
                    <label for="date" class="form-label job-ref">Date </label>
                    <input type="date" class="form-control" id="date" required>
                </div>
                <div class="form-container">
                    <label for="time" class="form-label job-ref">Time </label>
                    <input type="time" class="form-control" id="time" required>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-template>