<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<ng-container [ngTemplateOutlet]="isDelivery() ? deliveryAddress_Template : 
    (isContactList() ? contactList_Template : addBranch_Template)" [ngTemplateOutletContext]="{ $implicit: true }">
</ng-container>

<ng-template #contactList_Template>
    <h1 mat-dialog-title>CONTACT LIST</h1>
    <div mat-dialog-content style="margin-bottom: 5%;">
        <div class="row" style="margin-bottom: 2%;">
            <div class='col-sm-6 contact-list-title'>You can add upto 4 contacts</div>
            <div class='col-sm-6'>
                <button mat-button (click)="createContact()" class="createContact">Create Contact</button>
            </div>
        </div>
        <div class="dialog-form-container">
            <input type="text" class="form-control" (input)="searchContact($event)" style="margin-left:0" id="Email"
                placeholder="search by Name or Phone" required>
        </div>
        <mat-list style="margin-bottom: 5px;">
            <mat-list-item *ngFor="let details of contactDetails" class="contact_list_seperator">
                <!-- <div class="mat-list-text">s</div> -->
                <div class="row" style="width: 100%;">
                    <div class="col-sm-2" style="padding-top: 5%;">
                        <mat-checkbox [(ngModel)]="details.is_SMS"></mat-checkbox>
                    </div>
                    <div class="col-sm-8" style="padding-top: 3%;">
                        <div mat-line class='list-content'>{{details.firstName}} {{details.lastName}}</div>
                        <div mat-line>
                            <span>{{details.email}} &nbsp;|&nbsp;</span>
                            <span>{{details.mobileNo}} &nbsp;|&nbsp;</span>
                            <span>
                                <mat-checkbox class="example-margin" [(ngModel)]="details.is_SMS">SMS</mat-checkbox>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2" style="padding-top: 5%;float: right;">
                        <mat-icon aria-hidden="false" class="mat_icon_color" aria-label="edit_icon">edit
                        </mat-icon>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <!-- <div mat-dialog-actions> -->
    <div class="row">
        <div class='col-sm-6'>
            <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
        </div>
        <div class='col-sm-6'>
            <button mat-button class="crete_button" (click)="onNoClick()" [mat-dialog-close]="data.animal" cdkFocusInitial>Add
                Contact</button>
        </div>
    </div>
    <!-- </div> -->
</ng-template>

<ng-template #deliveryAddress_Template>
    <h1 mat-dialog-title>DELEVERY ADDRESS DETAILS</h1>
    <div mat-dialog-content>
        <p class="marker">*Required Fields</p>
        <div class="dialog-form-container">
            <label for="createContact" class="form-label job-ref">Address<span class="marker">*</span></label>
            <textarea class="form-control" id="address" required [(ngModel)]="dialogData.address"></textarea>
        </div>
    </div>
    <!-- <div mat-dialog-actions> -->
    <div class="row">
        <div class='col-sm-6'>
            <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
        </div>
        <div class='col-sm-6'>
            <button mat-button class="crete_button" [mat-dialog-close]="data.animal" (click)="onNoClick()" cdkFocusInitial>Create
            </button>
        </div>
    </div>
    <!-- </div> -->
</ng-template>

<ng-template #addBranch_Template>
    <div id="addBranch">
        <h1 mat-dialog-title>Add Branch</h1>
        <p>Delivery only available from your Home branch. Alternate branches are Click & Collect only.</p>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <mat-icon matPrefix>location_on</mat-icon>
            </span>
            <input type="text" class="form-control" placeholder="Search store by address, city or postcode"
                aria-describedby="basic-addon1">
            <span class="input-group-text">
                <mat-icon matPrefix>search</mat-icon>
            </span>
        </div>
        <h4 class="sub_header">Nearest Branch</h4>
        <div style="margin-bottom: 5%;">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel class="panel" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: block;">
                            <p class="panel_header">Silverwater &nbsp;
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="primary" selected>2.3 km</mat-chip>
                                </mat-chip-list>
                            </p>
                            <p>Silverwater 34 Buffalo Road, Hamilton QLD 4007</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container branch_container">
                        <div class="row">
                            <div class="col">
                                <p class="col_header">Contact Details</p>
                                <p>Email: arunprasad1496@gmaill.com</p>
                                <p>Phone: +61 9789117240</p>
                            </div>
                            <div class="col">
                                <p class="col_header"> Opening Hours</p>
                                <p>Mon - Fri</p>
                                <p>Sat</p>
                                <p>Sun</p>
                            </div>
                            <div class="col" style="margin: auto;">
                                <p>07:30 AM - 05:00 PM</p>
                                <p>09:30 AM - 06:00 PM</p>
                                <p style="color: red;">Closed</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="false" class="panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: block;">
                            <p class="panel_header">Silverwater &nbsp;
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="primary" selected>2.3 km</mat-chip>
                                </mat-chip-list>
                            </p>
                            <p>Silverwater 34 Buffalo Road, Hamilton QLD 4007</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container branch_container">
                        <div class="row">
                            <div class="col">
                                <p class="col_header">Contact Details</p>
                                <p>Email: arunprasad1496@gmaill.com</p>
                                <p>Phone: +61 9789117240</p>
                            </div>
                            <div class="col">
                                <p class="col_header"> Opening Hours</p>
                                <p>Mon - Fri</p>
                                <p>Sat</p>
                                <p>Sun</p>
                            </div>
                            <div class="col" style="margin: auto;">
                                <p>07:30 AM - 05:00 PM</p>
                                <p>09:30 AM - 06:00 PM</p>
                                <p style="color: red;">Closed</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="false" class="panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: block;">
                            <p class="panel_header">Silverwater &nbsp;
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip color="primary" selected>2.3 km</mat-chip>
                                </mat-chip-list>
                            </p>
                            <p>Silverwater 34 Buffalo Road, Hamilton QLD 4007</p>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container branch_container">
                        <div class="row">
                            <div class="col">
                                <p class="col_header">Contact Details</p>
                                <p>Email: arunprasad1496@gmaill.com</p>
                                <p>Phone: +61 9789117240</p>
                            </div>
                            <div class="col">
                                <p class="col_header"> Opening Hours</p>
                                <p>Mon - Fri</p>
                                <p>Sat</p>
                                <p>Sun</p>
                            </div>
                            <div class="col" style="margin: auto;">
                                <p>07:30 AM - 05:00 PM</p>
                                <p>09:30 AM - 06:00 PM</p>
                                <p style="color: red;">Closed</p>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <!-- <div mat-dialog-actions> -->
        <div class="row">
            <div class='col-sm-6'>
                <button mat-button (click)="onNoClick()" class="cancel_button">Cancel</button>
            </div>
            <div class='col-sm-6'>
                <button mat-button class="crete_button" [mat-dialog-close]="data.animal" cdkFocusInitial>Create
                </button>
            </div>
        </div>
        <!-- </div> -->
    </div>
</ng-template>