.container-page {
  padding: 0 90px;
  background: #e8eff7 0% 0% no-repeat padding-box;
  opacity: 1;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  margin: 20px 0 20px 0;
}

.delivery-box,
.collect-box {
  border: 2px solid #c3c1c1c4;
  border-radius: 10px;
  opacity: 1;
  background: #e0e1e233 0% 0% no-repeat padding-box;
  display: inline-flex;
  padding: 36px;
  .delivery-img {
    width: 90px;
    height: 50px;
  }
  .pickup-img {
    width: 75px;
    height: 50px;
  }
}

.delivery-box.active-box,
.collect-box.active-box {
  background: #e0e1e233 0% 0% no-repeat padding-box;
  border: 2px solid #00afe2;
  border-radius: 20px;
  opacity: 1;
  border-radius: 10px 0px 10px 10px;
}

.delivery-box .mat-checkbox.active-checkbox,
.collect-box .mat-checkbox.active-checkbox {
  right: 17px;
  position: absolute;
  top: 13px;
}

.card-container {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mat-card-header .card-title .mat-card-title {
  margin: 0px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  color: #495a64;
  opacity: 1;
  font-weight: bold;
}

.mat-card-content .card-container .mat-card {
  margin: 0px !important;
}

.box-container .mat-card-title {
  text-align: center;
  font-weight: bold;
  color: #495a64;
  opacity: 1;
  margin: 0px;
  font-size: 15px;
}

.box-container .mat-card-subtitle {
  color: #495a64;
  opacity: 1;
  margin: 0px;
  font: normal normal normal 10px/13px Niveau Grotesk;
  opacity: 1;
  font-size: 12px;
  margin: 1px !important;
}

.delivery-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-expansion-panel-header-title {
  text-align: left;
  font: normal normal bold 13px/20px Niveau Grotesk;
  letter-spacing: 0px;
  color: #495a64;
  opacity: 1;
  font-size: 18px;
  margin-bottom: 5px;
}

.delivery-accordion .form-control {
  display: inline-block;
  width: 100%;
  border: 1px solid #77889380;
  border-radius: 2px;
  opacity: 1;
  color: #495a64;
  font-size: 14px;
}

.delivery-accordion textarea.form-control {
  height: 0px;
}

.delivery-accordion .job-ref {
  width: 25%;
  text-align: left;
  font: normal normal normal 13px/23px Niveau Grotesk;
  color: #495a64;
  letter-spacing: 0px;
  opacity: 1;
}

.delivery-accordion .mat-expansion-panel {
  box-shadow: none;
}

.delivery-accordion .mat-expansion-panel .mat-expansion-panel-header {
  border-bottom: 1px solid rgb(0 0 0 / 14%);
}

.delivery-accordion .mat-expansion-panel-header {
  height: 30px;
}

.delivery-accordion
  .mat-expansion-panel.job-reference-panel
  .mat-expansion-panel-content
  .mat-expansion-panel-body {
  padding: 16px 24px 16px;
}

.mat-expansion-panel-body {
  padding: 16px 24px 16px !important;
}

.mat-expansion-panel-body .form-container {
  padding-bottom: 10px;
}

.delivery-accordion {
  .address-title,
  .choose-address-title {
    font-size: 11px;
    color: #495a64;
    letter-spacing: 0px;
    opacity: 1;
    padding-bottom: 10px;
    font-weight: 700;
    a {
      float: right;
    }
  }
  .form-check-label {
    padding-left: 10px;
    font: normal normal normal 13px/23px Niveau Grotesk;
    color: #495a64;
    letter-spacing: 0px;
    opacity: 1;
  }
  .date-time-title {
    font-size: 13px;
    color: #495a64;
    letter-spacing: 0px;
    opacity: 1;
    padding-bottom: 10px;
  }
}

.mat-subheader.list-head {
  font: normal normal bold 18px/23px Niveau Grotesk;
  letter-spacing: 0px;
  color: #495a64;
  opacity: 1;
  font-size: 20px;
}
.list-content {
  font-weight: bold !important;
  font-size: 14px !important;
  color: #495a64 !important;
}

.save-button {
  float: right;
  background: #003d7a 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #fff;
  border: none;
  width: 25%;
  height: 40px;
  border-radius: 5px;
}

.contact_list_seperator {
  border: 1px solid rgba(0, 0, 0, 0.14);
  margin-bottom: 3px;
}

.mat_icon_color {
  color: #495a64;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: #0d6efd;
  cursor: pointer;
}

.sub-item {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 3px;
}

mat-card {
  .price {
    float: right;
    font-size: 15px;
    font-weight: 600;
  }

  .items {
    max-height: 700px;
    overflow-y: auto;
  }

  .cart_summary {
    .mat-list-base .mat-list-item .mat-line {
      white-space: normal;
      overflow: auto;
      text-overflow: clip;
      display: block;
      box-sizing: border-box;
    }
  }

  .cart-icon {
    margin-right: 3%;
  }

  ::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #cfd0d380 0% 0% no-repeat padding-box;
  }

  ::-webkit-scrollbar-thumb {
    background: #77889380 0% 0% no-repeat padding-box;
    border: 2px solid #77889380;
    border-radius: 10px;
  }
}

.marker {
  color: #973937;
  font-weight: 600;
}

.branch-container {
  border: 1px solid #77889380;
  border-radius: 2px;
  opacity: 1;
  padding: 15px;
  .mat-card-subtitle {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .mat-card-title {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .branch-link {
    font-size: 12px;
  }
  .hour-label-left {
    width: 15%;
    position: relative;
    display: inline-block;
  }
}

mat-radio-group {
  display: inline-grid;
  .mat-radio-button {
    padding-bottom: 2%;
  }
}
 

input[type="date"]::-webkit-calendar-picker-indicator { 
  opacity: 1;
  display: block;
  background: url('./../assets/icons/date.svg') no-repeat;
  background-size: 15px 15px;
  top: 3px;
  left: 5px;
  border-width: thin;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
}