/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.panel {
    padding: 10px 0px !important;
} 
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #00AFE2;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #00AFE2;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #00AFE2;
  }

  @import '~@angular/material/theming';

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: #000000;
  }
}